*,
*::after,
*::before {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100vw;
    height: 100vh;
     background-color: #FFF;
}

h1-h6, p {
    color: #1E1E1E;
    font-family: 'Commit Mono', monospace;
}



@font-face {
    font-family: 'Commit Mono';
    src: url('../fonts/CommitMono-400-Regular.otf') format('truetype');
    
  }

  
@font-face {
    font-family: 'Manolo Mono';
    src: url('../fonts/manolo-mono.ttf') format('truetype');
    
  }

    
  @font-face {
    font-family: 'Italianno';
    src: url('../fonts/Italianno-Regular.ttf') format('truetype');
    
  }


  
  

  /* navigation  */
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
  }
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    position: fixed;
    top: 63px;
    right: 75px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 10;
  }
  .menu-icon:checked + label:before,
  .menu-icon:not(:checked) + label:before{
    position: absolute;
    content: '';
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 2px solid #960B17;
    border-bottom: 2px solid #960B17;
    transition: border-width 100ms 1500ms ease, 
                top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
                height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
                background-color 200ms ease,
                transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icon:checked + label:after,
  .menu-icon:not(:checked) + label:after{
    position: absolute;
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #960B17;
    margin-top: -1px;
    transition: width 100ms 1750ms ease, 
                right 100ms 1750ms ease,
                margin-top 100ms ease, 
                transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icon:checked + label:before{
    top: 10px;
    transform: rotate(45deg);
    height: 2px;
    background-color: #960B17;
    border-width: 0;
    transition: border-width 100ms 340ms ease, 
                top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
                height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
                background-color 200ms 500ms ease,
                transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu-icon:checked + label:after{
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-45deg);
    transition: width 100ms ease,
                right 100ms ease,  
                margin-top 100ms 500ms ease, 
                transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .nav{
    position: fixed;
    top: 33px;
    right: 50px;
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
    background-color: #D9D9D9;
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
                right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 250ms 1100ms ease,
                width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
                height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  @keyframes border-transform{
      0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
  }
  
  .menu-icon:checked ~ .nav {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
                right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
                transform 250ms 700ms ease,
                width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
                height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .nav ul{
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;
  }
  .nav ul li{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 250ms linear;
  }
  .nav ul li:nth-child(1){
    transition-delay: 200ms;
  }
  .nav ul li:nth-child(2){
    transition-delay: 150ms;
  }
  .nav ul li:nth-child(3){
    transition-delay: 100ms;
  }
  .nav ul li:nth-child(4){
    transition-delay: 50ms;
  }
  .nav ul li a{
    font-family: "Manolo Mono", monospace;
    font-size: 9vh;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 800;
    display: inline-block;
    position: relative;
    color:#1E1E1E;
    transition: all 250ms linear;
  }
  .nav ul li a:hover{
    text-decoration: none;
    color: #960B17;
  }
  .nav ul li a:after{
    display: block;
    position: absolute;
    top: 50%;
    content: '';
    height: 2vh;
    margin-top: -1vh;
    width: 0;
    left: 0;
    background-color: #1E1E1E;
    opacity: 0.8;
    transition: width 250ms linear;
  }
  .nav ul li a:hover:after{
    width: 100%;
  }
  
  
  .menu-icon:checked ~ .nav  ul li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 350ms ease,
                transform 250ms ease;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(1){
    transition-delay: 1400ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(2){
    transition-delay: 1480ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(3){
    transition-delay: 1560ms;
  }
  .menu-icon:checked ~ .nav ul li:nth-child(4){
    transition-delay: 1640ms;
  }
  
  
  
  .logo {
      position: absolute;
      top: 60px;
      left: 50px;
      display: block;
      z-index: 11;
      transition: all 250ms linear;
  }
  .logo img {
      height: 26px;
      width: auto;
      display: block;
  }
  
  
  
  @media screen and (max-width: 991px) {
    .menu-icon:checked + label,
    .menu-icon:not(:checked) + label{
      right: 55px;
    }
    .logo {
      left: 30px;
    }
    .nav{
      right: 30px;
    }
    h1{
      font-size: 9vw;
      -webkit-text-stroke: 2px transparent;
      
    }
    .nav ul li a{
      font-size: 8vh;
    }
  }
  
  
  
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}



.hero-p{
    width: 100%;
    color: #D9D9D9;
    font-family: "Manolo Mono";
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
    text-align: justify;
    text-align-last: center;
   
}

.hero-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 30vh;   
    width: 100%;
    color: #960B17;
    font-family: "Manolo Mono";
    font-size: 9.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-h3{
    color: #FFF;
    text-align: center;
    font-family: "Italianno";
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4rem;
}



/* running text line */
.lineBox {
    position: absolute;
    bottom: 0;
	background-color: #D9D9D9;;
	padding: 10px 0;
	overflow: hidden;
}

.box__line {
	margin: 0;
	white-space: nowrap;
  color: #1E1E1E;
  font-family: 'manolo mono';
	
/* 	transform: translatex(); */
	
	animation: run 30s linear infinite;
	
}

@keyframes run {
	0% {
		transform: translatex(100%);
	}
	100% {
		transform: translatex(-2000px);
	}
}


.lines{
    width: 80vw;
    margin-top: 15px;
}

.lines img{
    width: 100%;
}

/* scroll animation */

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-wrapper{
    width: calc((400px + 100px) * 10); /* Adjust the number based on the total number of slides */
    padding: 0 600px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.slide{
    width: 400px;
}

.slide>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-svg1{
    background-image: url(../images/events.svg) ;
    background-size: cover;
  
    
}



.main-header{
    margin: 1.5vw 6.5vw;
    font-size: 3.5vw;
    
    font-weight: 400;
    color: #1E1E1E;
    font-family: 'manolo mono';
   
}

/* grid */


.home-grid{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 4em;
 
}



   .home-grid img{
    width: 18.75rem;
    height: 18.75rem;
    object-fit: cover;
    border-radius: 10px;
}



    .grid-item5 > img{
        width: 50.5rem;
        height: 39rem;
        object-fit: cover;

    }


.grid-item1{
    grid-column-start: 1; /* start at column line 1 */
    grid-column-end: 2; /* end at column line 4 */
    grid-row-start: 1; /*start at row line 2 */
    grid-row-end: 1; /* end at row line 4 */
}

.grid-item2{
    grid-column-start: 2; /* start at column line 1 */
    grid-column-end: 3; /* end at column line 4 */
    grid-row-start: 1; /*start at row line 2 */
    grid-row-end: 1; /* end at row line 4 */
}

.grid-item3{
    grid-column-start: 1; /* start at column line 1 */
    grid-column-end: 2; /* end at column line 4 */
    grid-row-start: 2; /*start at row line 2 */
    grid-row-end: 2; /* end at row line 4 */
}

.grid-item4{
    grid-column-start: 2; /* start at column line 1 */
    grid-column-end: 3; /* end at column line 4 */
    grid-row-start: 2; /*start at row line 2 */
    grid-row-end: 2; /* end at row line 4 */
    position: relative;
    
}

.grid-item4 p{
   position: absolute;
    top: 50%; /* Adjust to move the text up or down */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Set the text color */
    font-size: 1.5rem; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
    z-index: 1; /* Ensure the text appears on top of the image */
    text-align: center;
}

.grid-item5{
    grid-column-start: 3; /* start at column line 1 */
    grid-column-end: 5; /* end at column line 4 */
    grid-row: 1 / span 2; /*start at row line 2 */
    
}


@media screen and (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .home-grid img {
        width: 100%;
        height: auto;
    }

    .grid-item5 {
        grid-column: 1 / span 2;
        grid-row: auto;
    }
}

.blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.example{
    width: 100%;

}
.section-header{
width:100%;
color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #555;
opacity: 0.6;
font-family: 'Manolo Mono', monospace;
font-size: 12vw;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
letter-spacing: 3vw;
}

.background-svg1 .header{
    margin: 5rem 0rem;
}

.blog-wrapper{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    margin: 0 auto;
}

.blog-img{
    display: flex;
    width: 40vw;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.blog-articles{
    margin-top: 10rem;
    text-align: end;

    
}

.blog-articles hr{
    background: #960B17;
    height: 0.1rem;
}

.articele svg{
    float: right;
}



@media screen and (max-width: 768px) {
  .blog-img{
    width:60%;
    height: 300px;
  }

  .blog-articles{
    margin-top: 5rem;
    right: 0;
    
  }

  .blog-articles p{
    margin-right:35px;
  }
}


footer{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 5rem;

}

footer div{
  display: flex;
  flex-direction: row;
  width: fit-content;
}

footer a{
    color: #1E1E1E;
    text-decoration: none;
    font-family: "commit mono";
    padding-left: 10px;
    
     
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        margin: 3rem;
    }

  
}



/* 404 */
.Wrapper404{
    background-image: url(../images/404Lines.svg) ;
    width:100vw;
    height: 100vh;
    background-size: cover;
    padding-top: 25vw;
    padding-left: 50vw;
    
}


.homePage{
    color: #960B17;

}

.elements404 h1,h3{
    color: #960B17;
    font-family: "Manolo Mono", monospace;
   
   
}

.homePage{
    width: 13rem;
    height: 3.5rem;
    border-radius: 0.125rem;
border: 3px solid #960B17;
background: rgba(217, 217, 217, 0.00);
margin-top: 25px;
}

/* personal info */

.accountForm{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-family: "commit mono";
    color: #1E1E1E;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-bottom: 6vw;
}

.accountWrapper >.section-header{
    -webkit-text-stroke-color: #960B17;
    font-size: 7vw;
    text-align: center;
}

.accountWrapper{
    position: relative;
}
.signOut{
    position: absolute;
    right: 0;
    color: #960B17;
    font-family: "commit mono";
    font-weight: 700;
    margin: 2vw 5vw;
    
}


/* log in page */

.login-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #960B17;
	background-image: url(../images/loginBackground.png) ;
	background-size: cover;
  background-position: center;
  font-family: "commit mono";
  color: #1E1E1E;
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
  
  
	
	
}



.login-container h1{
font-family: "manolo mono";
font-size: 5rem;
font-style: normal;
font-weight: 400;
letter-spacing: 0.45rem;
color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #960B17;
text-align: center;
}

.login-container h3{
  width: 80%;
}

.login-container form{
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.login-container form input{
	width: 20rem;
	height: 3.5rem;
	border: 2px #1E1E1E;
	border-style: none none solid none;
	background: transparent;
	margin-top: 25px;
	font-family: "commit mono";
	color: #1E1E1E;
	font-size:0.75rem;
	
}

.login-container form input::placeholder{
	color: #1E1E1E;
	font-family: "commit mono";
	text-align: center;
	font-size: 1rem;
	
}

.logInButton{
width: 13rem;
height: 3.5rem;
border-radius: 0.125rem;
border: 3px solid #1E1E1E;
color: #1E1E1E;
font-family: "commit mono";
font-size: 1.65rem;
font-style: normal;
font-weight: 400;
letter-spacing: 0.165rem;
padding: 0.5rem 1rem;
align-items: center;
justify-content: center;
margin: 2rem 0rem;
}

.buttonLink{
	display: flex;
	flex-direction: column;
	
}

.buttonLink a{
	color: #960B17;
}


/* contact */
.contactWrapper{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.lineBox-contact{
  
  bottom: 0;
background-color: #D9D9D9;;
padding: 10px 0;
overflow: hidden;
}




/* blog add a loopin php */

.articlesWrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(../images/articlesBack.svg)  ;
  background-size: cover;
}

.articleContainer{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}

.articleText h3  {
  font-family: 'commit mono' monospace;
  color: #1E1E1E;
  padding: 15px;
  
}

.articleText p {
  font-family: 'commit mono' monospace;
  color: #1E1E1E;
  padding: 15px;
  
  
}



.articleText svg{
 float: right;
}

.articleText::after {
  content: "";
  clear: both;
  display: table;
}



.articleText hr{
  background: #960B17;
  height: 0.1rem;
  margin: 5rem 0rem;
}


.articleImg{
 width: 40vw;

}

.articleImg img{
  width: 400px;
  height: 300px;
  opacity: 0.9;
  border-radius: 10px;

}

@media screen and (max-width: 768px) {
 
 
  

  

  

  


  
}