*,
*::after,
*::before {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    width: 100vw;
    height: 100vh;
}

h1-h6, p {
    color: #1E1E1E;
    font-family: 'Commit Mono', monospace;
}



@font-face {
    font-family: 'Commit Mono';
    src: url('../fonts/CommitMono-400-Regular.otf') format('truetype');
    
  }

  
@font-face {
    font-family: 'Manolo Mono';
    src: url('../fonts/manolo-mono.ttf') format('truetype');
    
  }

    
  @font-face {
    font-family: 'Italianno';
    src: url('../fonts/Italianno-Regular.ttf') format('truetype');
    
  }
  
  
  
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero.jpg) ;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}



.hero-p{
    width: 100%;
    color: #D9D9D9;
    font-family: "Manolo Mono";
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
    text-align: justify;
    text-align-last: center;
   
}

.hero-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 30vh;   
    width: 100%;
    color: #960B17;
    font-family: "Manolo Mono";
    font-size: 9.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-h3{
    color: #FFF;
    text-align: center;
    font-family: "Italianno";
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4rem;
}



/* running text line */
.lineBox {
    position: absolute;
    bottom: 0;
	background-color: #D9D9D9;;
	padding: 10px 0;
	overflow: hidden;
}

.box__line {
	margin: 0;
	white-space: nowrap;
  color: #1E1E1E;
  font-family: 'manolo mono';
	
/* 	transform: translatex(); */
	
	animation: run 30s linear infinite;
	
}

@keyframes run {
	0% {
		transform: translatex(100%);
	}
	100% {
		transform: translatex(-2000px);
	}
}


.lines{
    width: 80vw;
    margin-top: 15px;
}

.lines img{
    width: 100%;
}
/* scroll animation */

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-wrapper{
    width: calc((400px + 100px) * 10); /* Adjust the number based on the total number of slides */
    padding: 0 600px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.slide{
    width: 400px;
}

.slide>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-svg1{
    background-image: url(../images/events.svg) ;
    background-size: cover;
  
    
}



.main-header{
    margin: 1.5vw 6.5vw;
    font-size: 3vw;
    font-weight: 400;
    color: #1E1E1E;
    font-family: 'manolo mono';
   
}

/* grid */


.home-grid{
    width: 80%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    column-gap: 1rem;
    row-gap: 1rem;
   
 
}



   .home-grid img{
    width: 18.75rem;
    height: 18.75rem;
    object-fit: cover;
    border-radius: 10px;
}



    .grid-item5 > img{
        width: 50.5rem;
        height: 39rem;
        object-fit: cover;

    }


.grid-item1{
    grid-column-start: 1; /* start at column line 1 */
    grid-column-end: 2; /* end at column line 4 */
    grid-row-start: 1; /*start at row line 2 */
    grid-row-end: 1; /* end at row line 4 */
}

.grid-item2{
    grid-column-start: 2; /* start at column line 1 */
    grid-column-end: 3; /* end at column line 4 */
    grid-row-start: 1; /*start at row line 2 */
    grid-row-end: 1; /* end at row line 4 */
}

.grid-item3{
    grid-column-start: 1; /* start at column line 1 */
    grid-column-end: 2; /* end at column line 4 */
    grid-row-start: 2; /*start at row line 2 */
    grid-row-end: 2; /* end at row line 4 */
}

.grid-item4{
    grid-column-start: 2; /* start at column line 1 */
    grid-column-end: 3; /* end at column line 4 */
    grid-row-start: 2; /*start at row line 2 */
    grid-row-end: 2; /* end at row line 4 */
    position: relative;
    
}

.grid-item4 p{
   position: absolute;
    top: 50%; /* Adjust to move the text up or down */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Set the text color */
    font-size: 1.5rem; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
    z-index: 1; /* Ensure the text appears on top of the image */
    text-align: center;
}

.grid-item5{
    grid-column-start: 3; /* start at column line 1 */
    grid-row: 1 / span 2; /*start at row line 2 */
    
}


@media screen and (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .home-grid img {
        width: 100%;
        height: auto;
    }

    .grid-item5 {
        grid-column: 1 / span 2;
        grid-row: auto;
    }
}

.blog{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.example{
    width: 100%;

}
.section-header{
width:100%;
color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #555;
opacity: 0.6;
font-family: 'Manolo Mono', monospace;
font-size: 12vw;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: justify;
letter-spacing: 3vw;
margin: 5rem 0rem;
}


.blog-wrapper{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    margin: 0 auto;
}

.blog-img{
    display: flex;
    width: 40vw;
}

.blog-articles{
    margin-top: 3rem;
    
}

.blog-articles hr{
    background: #960B17;
    height: 0.1rem;
}

.articele svg{
    right: 0;
}

footer a{
    color: #1E1E1E;
    text-decoration: none;
    font-family: "commit mono";
    align-items: center;
     
}

footer{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0rem;

}


/* 404 */
.Wrapper404{
    background-image: url(../images/404Lines.svg) ;
    width:100vw;
    height: 100vh;
    background-size: cover;
    padding-top: 25vw;
    padding-left: 50vw;
    
}


.homePage{
    color: #960B17;

}

.elements404 h1,h3{
    color: #960B17;
    font-family: "Manolo Mono", monospace;
   
   
}

.homePage{
    width: 13rem;
    height: 3.5rem;
    border-radius: 0.125rem;
border: 3px solid #960B17;
background: rgba(217, 217, 217, 0.00);
margin-top: 25px;
}

/* personal info */

